{{ define "main" }}
{{ partial "post/nav.html" . }}
<main>
    <ul class="post-list">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li>
            <article class="post-summary">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <small>on <time>{{ .Date.Format "2006-01-02" }}</time></small>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">continue</a>
            </article>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}
