{{ define "main" }}
<main class="post">
    <article>
        <h3>{{ .Title }}</h3>
        <small>on <time>{{ .Date.Format "2006-01-02" }}</time></small>
        {{ .Content }}
        <footer class="post-footer">
            {{ with .NextInSection }}
            <div class="next">
                <a class="button" href="{{ .RelPermalink }}">Next</a>
            </div>
            {{ end }}
            {{ with .PrevInSection }}
            <div class="prev">
                <a class="button" href="{{ .RelPermalink }}">Prev</a>
            </div>
            {{ end }}
        </footer>
    </article>
</main>
{{ partial "post/nav.html" . }}
{{ end }}
