<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Ben Fiedler"/>
        <meta name="description" content="Stuff"/>
        <title>{{ .Title }}</title>
        {{ $css := resources.Get "scss/style.scss" | resources.ToCSS | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
        {{ $chromastyles := resources.Get "css/chromastyles.css" | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $chromastyles.RelPermalink }}" integrity="{{ $chromastyles.Data.Integrity }}">
        {{ $sourceSansPro := resources.Get "css/source-sans-pro.css" | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $sourceSansPro.RelPermalink }}" integrity="{{ $sourceSansPro.Data.Integrity }}">
        {{ $sourceCodePro := resources.Get "css/source-code-pro.css" | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $sourceCodePro.RelPermalink }}" integrity="{{ $sourceCodePro.Data.Integrity }}">
    </head>
    <body>
        <header class="blog-header">
            <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <nav>
                <ul>
                    {{- range .Site.Menus.main -}}
                    <li><h2><a href="{{ .URL }}">{{ .Name }}</a></h2></li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        {{- block "main" . }}{{ end }}
        <footer>
            <p> &copy; 2019 Ben Fiedler.
            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Some rights reserved.</a>
        </footer>
    </body>
</html>
