@import "variables.scss";
@import "../mixins.scss";

html {
    margin: 0em 1em;
}

body {
    max-width: 700px;

    display: grid;
    grid-template-rows: auto 1fr auto;

    text-align: justify;
    margin: 0em 1em;
    margin: 0 auto;
    height: 100vh;

    * {
        @include box-sizing(border-box);
    }

    > * {
        max-width: 700px;

        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1rem;
    }

    > footer {
        margin-top: auto;
        font-size: 1rem;
        border-top: 2px solid $darkgray;

        p {
            margin: 0.2em;
        }
    }

    .blog-header > h1 {
        font-size: 2.4rem;
        border-bottom: 3px solid $darkgray;
        margin: 0.2em 0;
    }

    .blog-header h2 {
        font-size: 1.6rem;
    }

    .article-title h2 {
        margin: 0;
    }

    .article-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p {
        a {
        color: $linkcolor;

            &:visited {
                color: $visitedlinkcolor;
            }
        }
    }

    pre {
        padding: 0.5em 0.7em;
        overflow-x: auto;

        font-size: 0.9rem;

        color: #f8f8f2;
        background-color: #272822;
    }

    nav {
        margin: 0.5em 0;
        padding-bottom: 0.5em;
        border-bottom: 2px solid $darkgray;
        flex: 1;

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 1em;
                margin: 0 1em;
            }
        }

        h2 {
            margin: 0;
        }
    }

    .metadata * {
        color: $gray;
    }

    article {
        flex: 1;
    }

    .article-navigation {
        border-top: 1px solid $darkgray;

        display: grid;
        grid-template-columns: 1fr 1fr;

        a {
            margin: 0.2em 0;
        }

        .next {
            display: flex;
            grid-column: 1;
            justify-content: flex-start;
            text-align: left;
        }

        .prev {
            display: flex;
            grid-column: 2;
            justify-content: flex-end;
            text-align: right;
        }
    }
}
