.post {
    grid-column: 1 / 2;

    small {
        margin: 0px;
        padding: 0px;
    }

    h3 {
        margin: 0px;
    }

    p {
        margin: 5px 0px;
        text-align: justify;
    }
}

.post-nav {
    margin-top: 50px;

    grid-column: 2 / 3;

    a {
        color: inherit;
        text-decoration: none;
    }

    h4 {
        margin: 0px;
        margin-top: 10px;
    }

    h5 {
        margin: 10px 0px 5px;
        font-size: 14px;

        &:first-of-type {
            margin-top: 5px;
        }
    }

    ul {
        margin-left: 10px;
        margin-right: 2px;
    }
}

.post-list {
    grid-column: 1 / 2;

    h3 {
        margin: 0px;
    }

    h3 a {
        color: inherit;
        text-decoration: none;
    }

    p {
        margin: 5px 0px;
        text-align: justify;
    }

    article {
        margin: 0px 0px 20px;
    }
}

.post-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px;

    font-size: 12px;

    .next {
        @include flexbox();
        grid-column: 1 / 2;
    }

    .prev {
        @include flexbox();
        @include justify-content(flex-end);
        grid-column: 2 / 3;
    }

    a {
        padding: 5px;
        display: inline-block;

        border: 1px solid $black;

        &:hover {
            border: 1px solid invert($black);
        }
    }
}
