<nav class="post-nav">
    <ul>
    {{ range (where .Site.RegularPages "Section" .Type).GroupByDate "2006" }}
    <li>
        <h4>{{ .Key }}</h4>
        <ul>
        {{ range .Pages.GroupByDate "January" }}
        <li>
            <h5>{{ .Key }}</h4>
            <ul class="content-list">
            {{ range .Pages.Reverse }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            </ul>
        </li>
        {{ end }}
        </ul>
    {{ end }}
    </ul>
</nav>
