.titlebar {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 10px;
}

.title {
    @include flexbox();
    @include justify-content(flex-start);

    grid-columns: 1 / 2;

    background-color: $red;
    margin: 0px;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.main-nav {
    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);

    grid-columns: 2 / 3;

    a {
        color: inherit;
        text-decoration: none;
        background-color: $green;

        padding: 2px 5px;

        display: inline-block;

        border: 2px solid $black;
        border-radius: 10px;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        display: inline;

        margin: 0px 5px;
    }
}
