@import "../vars.scss";
@import "../mixins.scss";

@import "header.scss";
@import "post.scss";

* {
    @include box-sizing(border-box);
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: auto;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

pre {
    padding: 5px 10px;

    margin: 10px 0px;

    * {
        font-family: 'Source Code Pro', monospace;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr;

    margin: 7px 10px;

    background-color: $blue;
}


.about {
    h3 {
        margin: 0px;
    }

    p {
        margin: 5px 0px;
        text-align: justify;
    }
}
